body {
    font-family: 'Patrick Hand', cursive;
}
.loader-page {
    position: relative;
    top: 0%;
    left: 0%;
    background-color: #fff;
    width: 100%;
    height: 100vh;
    transition: 1s;
    z-index: 99999;
}
.loader-page.hidden {
    border-bottom: 5px solid #2E78A5;
    position: absolute;
    top: 0;
    width: 100%;
    height: 0vh;
}
.loader-page .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Patrick Hand', cursive;
}
.loader-page img {
    width: 180px;
    transition: 0.5s;
    animation: popUp 0.8s ease-in-out;
}
.loader-page img.hidden {
    opacity: 0;
}
.loader-page .welcome {
    color: #2E78A5;
    font-size: 2em;
    font-weight: bold;
    transform: translateY(5%);
    transition: 0.5s;
    opacity: 1;
}
.loader-page .welcome.hidden {
    transform: translateY(-50%);
    opacity: 0;
}
@keyframes popUp {
    0% {
        transform: scale(0.8);
    } 50% {
        transform: scale(1.3);
    } 100% {
        transform: scale(1);
    }
}

.navbar-c {
    background-color: #fff;
    /* border-bottom: 5px solid #2E78A5; */
    /* filter: blur(5px); */
}

.navbar-c .logo {
    cursor: pointer;
    transition: 0.5s;
}

.navbar-c .logo img {
    width: 56px;
}
.navbar-c #logo-name {
    color: #2E78A5;
    font-family: 'Patrick Hand', cursive;
    font-weight: bold;
    font-size: 1.4em;
}

section#home {
    width: 100%;
    height: 100vh;
    background: url('../img/bg-book.jpg');
    background-position: center;
    background-size: cover;
    padding-top: 20vh;
}

section#home .tagline {
    font-size: 7em;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: #fff;
}

section#home .tagline span {
    background-color: #2E78A5;
}