.beranda-content {
    border-radius: 15px;
}
.beranda-content .brand-name {
    font-weight: bold;
    color: #fff;
    background-color: #2E78A5;
    font-family: 'Patrick Hand', cursive;
    padding: 10px 15px;
}
.beranda-content .brand-name .col-8 {
    font-size: 2em;
}
.beranda-content .brand-name small {
    font-size: 0.5em;
    font-weight: 500;   
}
.body-beranda-content {
    background-color: #edf1f4;
    padding: 10px 15px 20px 15px;
}
.beranda-content .content .chat-bubble {
    display: block;
    width: fit-content;
    margin-top: 1vh;
    background-color: #fefae0;
    border-radius: 10px;
    padding: 10px 20px;
}

.beranda-content .content.d-flex .chat-bubble {
    display: block;
    width: fit-content;
    margin-top: 1vh;
    background-color: #2E78A5;
    color: #fff;
    border-radius: 10px;
    padding: 10px 20px;
}

section#skill .pertanyaan {
    position: relative;
    background-color: #2E78A5;
    color: #fff;
    margin-bottom: 1vh;
    width: fit-content;
    padding: 5px 20px;
    border-radius: 10px;
}
section#skill .pertanyaan small {
    font-size: 0.7em;
}
section#skill .jawaban p {
    border-radius: 10px;
    background-color: #fefae0;
    color: #fff;
    padding: 10px 20px;
}
section#skill .jawaban ul li {
    margin-top: 1.7vh;
    width: fit-content;
}
section#skill .jawaban ul li img{
    width: 55px;
    filter: drop-shadow(0px 0px 10px rgba(128, 128, 128, 0.497));
}